*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
}
img{
    margin: 20px;
    object-fit: contain;
    height: 25px;
}

.advancedHeader{
    margin: 25px 40px;
    font-size: 22px;
    color: red;
}

.bottomLine{
    height: 1px;
    width: 100%;
    background-color: rgba(153, 153, 153, 0.295);
}