@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.imagesLink, .homeLink{
    font-size: 13px;
    float: right;
    outline: none;
}
img{
    margin: 20px;
    object-fit: contain;
    height: 25px;
    position: absolute;
}

.advancedHeader{
    margin: 25px 60px;
    font-size: 22px;
    color: red;
    font-weight: 300;
}


.bottomLine{
    height: 1px;
    width: 100%;
    background-color: rgba(153, 153, 153, 0.295);
}

.title{
    font-size: 20px;
    display: inline-block;
}

.centerPart{
    width: 95%;
    height: 300px;
    margin: 50px auto;
}

label{
    display: inline-block;
    width: 180px;
    text-align: left;
    margin-top: 20px;
    font-size: 13px;
}

input{
    height: 30px;
    width: 550px;
    outline: none;
    cursor:text;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.199);
}

p{
    display: inline-block;
    margin-left: 15px;
    font-size: 12px;
    color: rgb(88, 88, 88);
}

.titleRight{
    float: right;
    font-size: 14px;
    margin-right: 465px;
    color: gray;
}

header{
    margin: 20px 30px;
    float: right;
}

a{
    margin-left: 15px;
    font-size: 15px;
    text-decoration: none;
    color: rgb(22, 22, 22);
}

.homeLink:hover, .advancedLink:hover, .imagesLink:hover{
    text-decoration: underline;
}

.footerBosnia{
    position: fixed;
    left: 0;
    bottom: 50px;
    width: 100%;
}


.footerBosnia{
    height: 50px;
    background-color: rgba(211, 211, 211, 0.397);
    border-bottom: 1px solid rgba(128, 128, 128, 0.24);
}

.bosniaTitle{
    font-size: 17px;
    line-height: 50px;
    margin-left: 30px;
    color: rgba(31, 31, 31, 0.651);
}

.lastFooter{
    height: 50px;
    background-color: rgba(211, 211, 211, 0.397);
    overflow: hidden;
}

.leftside{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-top: 10px;
}

.leftside li{
    margin-left: 13px;
    list-style-type: none;
    display: inline-block;
    margin-top: 5px;
}

.leftside a{
    font-size: 15px;
    color: rgba(31, 31, 31, 0.651);
}

.rightside{
    margin-right: 30px;
}

.rightside a{
    color: rgba(31, 31, 31, 0.651);
}

li>a:hover{
    text-decoration: underline;
}