*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    width: 100%;
}
img{
    margin: 20px;
    object-fit: contain;
    height: 25px;
}

.advancedHeader{
    margin: 25px 60px;
    font-size: 22px;
    color: red;
}

.bottomLine{
    height: 1px;
    width: 100%;
    background-color: rgba(153, 153, 153, 0.295);
}

.title{
    font-size: 20px;
    margin: 30px 0;
}

.centerPart{
    width: 95%;
    height: 500px;
    margin: 50px auto;
}

label{
    display: inline-block;
    width: 200px;
    text-align: left;
    margin-top: 20px;
}

input{
    height: 30px;
    width: 550px;
    outline: none;
    cursor:text;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.199);
}

p{
    display: inline-block;
    margin-left: 15px;
}