*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    width: 100%;
}
img{
    margin: 20px;
    object-fit: contain;
    height: 25px;
}

.advancedHeader{
    margin: 25px 60px;
    font-size: 22px;
    color: red;
}

.bottomLine{
    height: 1px;
    width: 100%;
    background-color: rgba(153, 153, 153, 0.295);
}

.title{
    font-size: 20px;
}

.centerPart{
    width: 60%;
    display: flex;
    justify-content: center;
    background-color: rebeccapurple;
    margin: 30px auto;
    overflow: hidden;
}

.leftSide{
    width: 30%;
    float: left;
}


.rightSide{
    width: 20%;
    float: left;
}

input{
    height: 30px;
    width: 300px;
}

