@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: .25px;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    display: flex;
    justify-content: flex-end; 
    align-items: center; 
    margin: 20px 30px;
}

.loginBtn{
    font-size: 15px;
    height: 35px;
    width: 80px;
    background-color: #4d90fe;
    text-align: center;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    letter-spacing: .25px;
    border-radius: 5px;
}


.loginBtn:hover{
    background-color: #76a9fa;
}

.imagesLink, .advancedLink, .homeLink{
    font-size: 13px;
}

a{
    margin-left: 15px;
    font-size: 15px;
    text-decoration: none;
    color: rgb(22, 22, 22);
}

.center-part{
    position: static;
    flex: 1;
    display: flex;
    flex-direction: column;
}

img{
    object-fit: contain;
    margin-top: 8%;
    height: 90px;
}

.search-part{
    display: flex;
    align-items: center;
    margin: 30px auto;
    width: 45vw;
}

.search-bar{
    width: 40vw;
    height: 45px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px;
    border-radius: 30px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.178);
    font-size: 16px;
}

.search-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn1, .btn2{
    margin-top: 25px;
    font-size: 14px;
    border-radius: 7px;
    outline: none;
    background: rgba(247, 246, 246, 0.521);
    border: 1px solid white;
    padding: 10px;
    color: black;
}

.btn2{
    margin-left: 15px;
}

.btn1:hover, .btn2:hover{
    border: 1px solid rgba(194, 194, 194, 0.637);
    display: inline-block;
}

.languages{
    width:45vw;
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    list-style: none;
}

.first-item{
    color: black;
}


ul>li a{
    color: blue;
    margin-left: 10px;
    font-size: 14px;
}


h2{
    margin: 10px 10px;
}

.first-list{
    display: flex;
}

.homeLink:hover, .advancedLink:hover, .imagesLink:hover{
    text-decoration: underline;
}

.googleImages{
    height: 95px;
}

.footerBosnia{
    height: 50px;
    background-color: rgba(211, 211, 211, 0.397);
    border-bottom: 1px solid rgba(128, 128, 128, 0.24);
}

.bosniaTitle{
    font-size: 17px;
    line-height: 50px;
    margin-left: 30px;
    color: rgba(31, 31, 31, 0.651);
}

.lastFooter{
    height: 50px;
    background-color: rgba(211, 211, 211, 0.397);
    overflow: hidden;
}

.leftside{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    list-style-type: none;
    margin-top: -10px;
}

.leftside li{
    margin-left: 20px;
}

.leftside a{
    font-size: 15px;
    color: rgba(31, 31, 31, 0.651);
}

.rightside{
    margin-right: 30px;
}

.rightside a{
    color: rgba(31, 31, 31, 0.651);
}

li>a:hover{
    text-decoration: underline;
}


@media only screen and (min-width: 300px) and (max-width: 500px){

    .imagesLink, .advancedLink, .homeLink, .loginBtn{
        font-size: 10px;
    }

    .loginBtn{
        height: 25px;
        width: 50px;
    }

    img{
        height: 30px;
    }

    .search-part{
        justify-content: center;
    }

    .search-bar{
        width: 270px;
        font-size: 12px;
        padding: 15px;
        height: 30px;
    }

}